In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\Study\Brainwaves\EEGs_Guinea-Bissau/signal-1.csv')
df=df[['AF3','AF4','F3','F4','F7','F8','FC5','FC6','O1','O2','P7','P8','T7','T8','COUNTER']]
df.head()

,AF3,AF4,F3,F4,F7,F8,FC5,FC6,O1,O2,P7,P8,T7,T8,COUNTER
0,4426.153846,3994.871795,4408.205128,3847.692308,4690.256410,3895.897436,4702.051282,3914.871795,4049.743590,4297.948718,4186.153846,4132.820513,4106.666667,4076.410256,28
1,4420.512821,3986.666667,4394.358974,3836.923077,4678.461538,3886.666667,4696.410256,3910.769231,4054.358974,4295.897436,4187.179487,4126.666667,4105.641026,4065.128205,29
2,4413.846154,3986.153846,4386.666667,3831.794872,4654.871795,3881.025641,4690.769231,3908.205128,4066.666667,4301.025641,4188.205128,4123.076923,4103.076923,4063.589744,30
3,4407.692308,3984.615385,4384.102564,3832.820513,4644.615385,3883.076923,4686.153846,3910.256410,4063.076923,4298.974359,4184.615385,4127.179487,4095.384615,4071.282051,31
4,4407.179487,3978.974359,4382.564103,3832.307692,4647.692308,3878.974359,4685.641026,3903.076923,4057.948718,4295.384615,4182.564103,4128.205128,4090.769231,4064.102564,32

In [3]:
for i in range(len(df)):
    if df['AF3'][i]<4027.149088:
        df['AF3'][i]='very low'
    elif df['AF3'][i]>4027.149088 and df['AF3'][i]<4127.681734:
        df['AF3'][i]='low'
    elif df['AF3'][i]>4127.681734 and df['AF3'][i]<4240.350251:
        df['AF3'][i]='high'
    else:
        df['AF3'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\2032508033.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AF3'][i]='very high'

In [4]:
df.head()

,AF3,AF4,F3,F4,F7,F8,FC5,FC6,O1,O2,P7,P8,T7,T8,COUNTER
0,very high,3994.871795,4408.205128,3847.692308,4690.256410,3895.897436,4702.051282,3914.871795,4049.743590,4297.948718,4186.153846,4132.820513,4106.666667,4076.410256,28
1,very high,3986.666667,4394.358974,3836.923077,4678.461538,3886.666667,4696.410256,3910.769231,4054.358974,4295.897436,4187.179487,4126.666667,4105.641026,4065.128205,29
2,very high,3986.153846,4386.666667,3831.794872,4654.871795,3881.025641,4690.769231,3908.205128,4066.666667,4301.025641,4188.205128,4123.076923,4103.076923,4063.589744,30
3,very high,3984.615385,4384.102564,3832.820513,4644.615385,3883.076923,4686.153846,3910.256410,4063.076923,4298.974359,4184.615385,4127.179487,4095.384615,4071.282051,31
4,very high,3978.974359,4382.564103,3832.307692,4647.692308,3878.974359,4685.641026,3903.076923,4057.948718,4295.384615,4182.564103,4128.205128,4090.769231,4064.102564,32

In [5]:
for i in range(len(df)):
    if df['AF4'][i]<3764.025905:
        df['AF4'][i]='very low'
    elif df['AF4'][i]>3764.025905 and df['AF4'][i]<3862.265398:
        df['AF4'][i]='low'
    elif df['AF4'][i]>3862.265398 and df['AF4'][i]<3974.444885:
        df['AF4'][i]='high'
    else:
        df['AF4'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1241421198.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AF4'][i]='very high'

In [6]:
# df.to_csv('check.csv',index=False)

In [7]:
for i in range(len(df)):
    if df['F4'][i]<3606.383822:
        df['F4'][i]='very low'
    elif df['F4'][i]>3606.383822 and df['F4'][i]<3695.400476:
        df['F4'][i]='low'
    elif df['F4'][i]>3695.400476 and df['F4'][i]<3797.121332:
        df['F4'][i]='high'
    else:
        df['F4'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\2112007631.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['F4'][i]='very high'

In [8]:
for i in range(len(df)):
    if df['F3'][i]<4080.526038:
        df['F3'][i]='very low'
    elif df['F3'][i]>4080.526038 and df['F3'][i]<4160.38065:
        df['F3'][i]='low'
    elif df['F3'][i]>4160.38065 and df['F3'][i]<4252.998943:
        df['F3'][i]='high'
    else:
        df['F3'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1051532676.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['F3'][i]='very high'

In [9]:
for i in range(len(df)):
    if df['F7'][i]<4175.11631:
        df['F7'][i]='very low'
    elif df['F7'][i]>4175.11631 and df['F7'][i]<4265.374042:
        df['F7'][i]='low'
    elif df['F7'][i]>4265.374042 and df['F7'][i]<4361.17235:
        df['F7'][i]='high'
    else:
        df['F7'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\3825885870.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['F7'][i]='very high'

In [10]:
for i in range(len(df)):
    if df['F8'][i]<3605.375363:
        df['F8'][i]='very low'
    elif df['F8'][i]>3605.375363 and df['F8'][i]<3715.355538:
        df['F8'][i]='low'
    elif df['F8'][i]>3715.355538 and df['F8'][i]<3843.125826:
        df['F8'][i]='high'
    else:
        df['F8'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1220590632.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['F8'][i]='very high'

In [11]:
for i in range(len(df)):
    if df['FC5'][i]<4462.178165:
        df['FC5'][i]='very low'
    elif df['FC5'][i]>4462.178165 and df['FC5'][i]<4544.522865:
        df['FC5'][i]='low'
    elif df['FC5'][i]>4544.522865 and df['FC5'][i]<4633.207772:
        df['FC5'][i]='high'
    else:
        df['FC5'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1180372267.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FC5'][i]='very high'

In [12]:
for i in range(len(df)):
    if df['FC6'][i]<3819.680148:
        df['FC6'][i]='very low'
    elif df['FC6'][i]>3819.680148 and df['FC6'][i]<3917.885276:
        df['FC6'][i]='low'
    elif df['FC6'][i]>3917.885276 and df['FC6'][i]<4027.357917:
        df['FC6'][i]='high'
    else:
        df['FC6'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\861586680.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FC6'][i]='low'

In [13]:
for i in range(len(df)):
    if df['O1'][i]<4127.775575:
        df['O1'][i]='very low'
    elif df['O1'][i]>4127.775575 and df['O1'][i]<4217.15834:
        df['O1'][i]='low'
    elif df['O1'][i]>4217.15834 and df['O1'][i]<4314.842717:
        df['O1'][i]='high'
    else:
        df['O1'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\246069354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['O1'][i]='very low'

In [14]:
for i in range(len(df)):
    if df['O2'][i]<4102.077716:
        df['O2'][i]='very low'
    elif df['O2'][i]>4102.077716 and df['O2'][i]<4196.740682:
        df['O2'][i]='low'
    elif df['O2'][i]>4196.740682 and df['O2'][i]<4303.954533:
        df['O2'][i]='high'
    else:
        df['O2'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\2908601568.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['O2'][i]='high'

In [15]:
for i in range(len(df)):
    if df['P7'][i]<3919.418451:
        df['P7'][i]='very low'
    elif df['P7'][i]>3919.418451 and df['P7'][i]<4001.726143:
        df['P7'][i]='low'
    elif df['P7'][i]>4001.726143 and df['P7'][i]<4093.476077:
        df['P7'][i]='high'
    else:
        df['P7'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\2331723680.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['P7'][i]='very high'

In [16]:
for i in range(len(df)):
    if df['P8'][i]<3998.50912:
        df['P8'][i]='very low'
    elif df['P8'][i]>3998.50912 and df['P8'][i]<4111.382501:
        df['P8'][i]='low'
    elif df['P8'][i]>4111.382501 and df['P8'][i]<4241.550357:
        df['P8'][i]='high'
    else:
        df['P8'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1871868616.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['P8'][i]='high'

In [17]:
for i in range(len(df)):
    if df['T7'][i]<3712.431932:
        df['T7'][i]='very low'
    elif df['T7'][i]>3712.431932 and df['T7'][i]<3801.908538:
        df['T7'][i]='low'
    elif df['T7'][i]>3801.908538 and df['T7'][i]<3899.393339:
        df['T7'][i]='high'
    else:
        df['T7'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\1272448682.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T7'][i]='very high'

In [18]:
for i in range(len(df)):
    if df['T8'][i]<3832.491409:
        df['T8'][i]='very low'
    elif df['T8'][i]>3832.491409 and df['T8'][i]<3939.836109:
        df['T8'][i]='low'
    elif df['T8'][i]>3939.836109 and df['T8'][i]<4071.042823:
        df['T8'][i]='high'
    else:
        df['T8'][i]='very high'

C:\Users\mavis\AppData\Local\Temp\ipykernel_15076\651478606.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T8'][i]='very high'

In [19]:
# df.to_csv('categorized_signal_1.csv',index=False)

In [87]:
df.head()

,AF3,AF4,F3,F4,F7,F8,FC5,FC6,O1,O2,P7,P8,T7,T8
129,high,low,low,low,high,low,high,very low,very low,low,high,low,very high,low
130,high,low,low,low,high,low,high,very low,very low,low,high,very low,very high,low
131,high,low,low,low,high,low,high,very low,very low,low,high,very low,very high,low
132,high,low,low,low,high,low,high,very low,very low,low,high,very low,very high,low
133,high,low,low,low,high,low,high,very low,very low,low,high,very low,very high,low

In [88]:
final=pd.DataFrame(columns = ['AF3','AF4','F3','F4','F7','F8','FC5','FC6','O1','O2','P7','P8','T7','T8'])
# df=df.drop('COUNTER', axis='columns')

In [89]:
import warnings
warnings.filterwarnings("ignore")

start=0
freq=129
batch_size=len(df)//129  #297
for i in range(batch_size):
    final=final.append(df[start:freq].mode(),ignore_index = True)
#     print("Processing batch of "+str(start)+" to "+str(freq))
    if i>batch_size:
        break
    else:
        start+=129
        freq+=129

In [90]:
final

,AF3,AF4,F3,F4,F7,F8,FC5,FC6,O1,O2,P7,P8,T7,T8
0,high,low,low,low,very high,low,high,very low,very low,low,high,low,very high,low
1,low,very low,very low,very low,high,very low,very low,very low,very low,very low,low,very low,high,very low
2,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,low,very low
3,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,very low,low,very low
4,very low,very low,very low,very low,low,very low,very low,very low,very low,very low,low,low,low,very low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,low,low,low,low,very low,low,low,low,high,low,low,low,low,low
294,low,high,low,low,very low,high,very low,high,high,low,very low,low,very low,low
295,low,low,very low,very low,low,very low,very low,low,high,low,low,very low,low,low
296,low,very low,low,low,low,low,very low,low,high,low,low,very low,low,low
297,low,low,very low,low,low,low,very low,low,high,low,low,very low,low,low

In [99]:
final.shape

(298, 14)

In [100]:
len(df)

38399

In [101]:
# final.to_csv('eeg_sec_dataset_signal_1.csv',index=False)

In [104]:
final[39:40]

    AF3  AF4   F3   F4   F7        F8  FC5  FC6   O1   O2   P7   P8   T7   T8
39  NaN  NaN  NaN  NaN  NaN  very low  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN